body{
background-color: rgb(241, 241, 241) !important;
}
.notification{
    background-color: black;
    margin: 20px 40px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}
.notification marquee{
    color: white;
    padding: 0px;
    margin: 0px;
}

.notification button{
    padding: 2px 8px !important;
    margin-left: 20px;
    font-weight: bolder;
    color: white;
    border-radius: 5px !important;
}
